10.1  A list is a sequence

In [2]:
[10, 20, 30, 40]

[10, 20, 30, 40]

In [3]:
['crunchy frog', 'ram bladder', 'lark vomit']

['crunchy frog', 'ram bladder', 'lark vomit']

In [4]:
['spam', 2.0, 5, [10, 20]]

['spam', 2.0, 5, [10, 20]]

10.2  Lists are mutable

In [8]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses[0])
print(cheeses[2])
cheeses[2]="brie"
print(cheeses[2])

Cheddar
Gouda
brie

the syntax below seems very stripped down but it does work that way:

In [9]:
"colby" in cheeses

False

In [10]:
"Edam"in cheeses

True

10.3  Traversing a list

In [11]:
for cheese in cheeses:
    print(cheese)

Cheddar
Edam
brie

In [25]:
numbers = [42, 123]
for i in range(len(numbers)-1):
    numbers[i] = numbers[i] * 2
print(numbers)
print(len(numbers))
sss=range(len(numbers)-1)
print(sss)

[84, 123]
2
range(0, 1)

In [26]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

In [27]:
# A for loop over an empty list never runs the body:

for x in []:
    print('This never happens.')

In [28]:
# Although a list can contain another list, the nested list still counts as a single element. The length of this list is four:

['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

In [29]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
c

[1, 2, 3, 4, 5, 6]

In [30]:
mylist =[0] * 4
print(mylist)

[0, 0, 0, 0]

In [31]:
mylist=[1, 2, 3] * 3
print(mylist)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [32]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [33]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[:4]

['a', 'b', 'c', 'd']

In [34]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[3:]

['d', 'e', 'f']

In [35]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [37]:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [38]:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

In [40]:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

10.7  Map, filter and reduce

In [42]:
t = [1, 2, 3]
sum(t)

# An operation like this that combines a sequence of elements into a single value is sometimes called reduce.

6

Sometimes you want to traverse one list while building another. For example, the following function takes a list of strings and returns a new list that contains capitalized strings:

An operation like capitalize_all is sometimes called a map because it “maps” a function (in this case the method capitalize) onto each of the elements in a sequence.

In [50]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res
capitalize_all("the")
result=capitalize_all("the")
result

['T', 'H', 'E']

Another common operation is to select some of the elements from a list and return a sublist. For example, the following function takes a list of strings and returns a list that contains only the uppercase strings:

An operation like only_upper is called a filter because it selects some of the elements and filters out the others.

In [54]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

subgroup=only_upper("TttAWSsJjJ")
print(subgroup)

['T', 'A', 'W', 'S', 'J', 'J']

10.8  Deleting elements,  the delete of t was put into x but it does not have to be placed in x.  it will just delete the position.  Seems to work only with one element.

pop modifies the list and returns the element that was removed. If you don’t provide an index, it deletes and returns the last element.

In [63]:
t = ['a', 'b', 'c']
x=t.pop(1)
print(t)
print(x)

['a', 'c']
b

In [65]:
t = ['a', 'b', 'c']
del t[1]
t

['a', 'c']

In [66]:
t = ['a', 'b', 'c']
t.remove('b')
t

['a', 'c']

In [67]:
t = ['a', 'b', 'c']
t.remove('b')
t

['a', 'c']

In [68]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

['a', 'f']

10.9  Lists and strings

A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as a string. To convert from a string to a list of characters, you can use list:

In [69]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

In [70]:
s = 'pining for the fjords'
t = s.split()
t

['pining', 'for', 'the', 'fjords']

An optional argument called a delimiter specifies which characters to use as word boundaries. The following example uses a hyphen as a delimiter:

In [71]:
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t

['spam', 'spam', 'spam']

look at the spacing on the following-   this is cool but in this case it is just for illustration.  No one would set their list like that for no particular reason.

In [72]:
t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
s = delimiter.join(t)
s

'pining for the fjords'